# Database
DATABASE_URL="postgresql://neondb_owner:npg_PtlW0LVknTx1@ep-odd-glade-apn53psm-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-min-32-chars"

# App
NEXT_PUBLIC_APP_DOMAIN="buloqwater.uz"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# SMS (ioqil.uz)
SMS_API_KEY="your-ioqil-api-key-here"
