# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/buloqwater"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-min-32-chars"

# App
NEXT_PUBLIC_APP_DOMAIN="buloqwater.uz"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# SMS (ioqil.uz)
SMS_API_KEY="your-ioqil-api-key-here"
